* {
    font-family: 'Poiret One', cursive;
}

.navbar {
    grid-area: header;
    background-color: #e4c1b3;
    color: white;
    text-align: center;
    padding: 1px;
}

menu {
    grid-area: menu;
    background-color: #c6ccc7;
}

main {
    grid-area: main; 
} 
    
footer {
    grid-area: footer;
}

.grid-container { 
    display: grid; 
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "header header" "menu main" "footer footer";
    gap: 10px; 
}

.caract {
    cursor: pointer;
    gap: 3%;
}

.caract :hover {
    color: beige;
}

.gallery {
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 10px;
}

.gallery > div { /* > selecciona los "hijos directos" de main gallery */
    border: 1px solid #ccc; /* Borde de las tarjetas */
    max-width: 300px; /* Ancho máximo de las tarjetas, ajusta según sea necesario */
}  

.gallery img {
    width: 100%;
    height: 80%;
}

.container {
    text-align: center;
    margin-top: 15px;
}

.container button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #c6ccc7;
    color: black;
    padding: 4.5%;
    font-size: large;
}

footer {
    text-align: center;
    background-color: #e4c1b3;
    padding: 10px;
}

footer a {
    color: white;
    margin: 15%;
    text-decoration: none;
}