* {
    font-family: 'Poiret One', cursive;
}

.navbar {
    grid-area: header;
    background-color: #e4c1b3;
    color: white;
    display: grid;
    justify-content: center;
    padding: 1%;
}

menu {
    grid-area: menu;
}

main {
    grid-area: main; 
} 
    
footer{
    grid-area: footer;
}

.grid-container { 
    display: grid; 
    grid-template-areas: "header header" "menu main" "footer footer";
    gap: 10px; 
}

.gallery {
    grid-template-columns: auto auto;
}

.gallery img {
    width: 50%;
    height: 50%;
}

footer {
    display: grid;
    justify-content: center;
    background-color: #e4c1b3;
}

footer a {
    color: white;
    padding: 10%;
}